{%extends 'base.html'%}
{%block content%}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto" style="max-width:620px; margin-top:40px;">
          <article class="card-body">
            {% include 'includes/alerts.html'%}
            <header class="mb-4"><h4 class="card-title">Registro de Usuario</h4></header>
            <!--Form usuario normal-->
           
                <form action="{% url 'register'%}" method="POST" class="was-validated">
                    {%csrf_token%}

                        <div class="form-row">
                            <div class="col form-group">
                                <label>Nombre</label>
                                {{ form.nombre }}
                            </div> <!-- form-group end.// -->
                            <div class="col form-group">
                                <label>Apellido</label>
                                {{ form.apellido }}
                            </div> <!-- form-group end.// -->
                            <div class="col form-group">
                                <label>Run</label>
                                {{ form.rut_cli }}
                            </div> <!-- form-group end.// -->
                        </div> <!-- form-row end.// -->

                        <div class="form-row">
                            <div class="col form-group">
                                <label>Numero telefono</label>
                                {{ form.contacto}}
                            </div> <!-- form-group end.// -->
                            <div class="col form-group">
                                <label>Email</label>
                                {{ form.usermail }}
                            </div> <!-- form-group end.// -->
                        </div> <!-- form-row end.// -->
                        <div class="form-row">
                            <div class="col form-group">
                                <label>Rut empresa</label>
                                {{ form.rut_empresa}}
                            </div> <!-- form-group end.// -->
                            <div class="col form-group">
                                <label>Giro</label>
                                {{ form.giro }}
                            </div> <!-- form-group end.// -->
                            <div class="col form-group">
                                <label>Razon</label>
                                {{ form.razon_social }}
                            </div> <!-- form-group end.// -->
                        </div> <!-- form-row end.// -->
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Crear contraseña</label>
                                {{ form.password }}
                            </div> <!-- form-group end.// -->
                            <div class="form-group col-md-6">
                                <label>Repetir contraseña</label>
                                {{ form.confirm_password }}
                            </div> <!-- form-group end.// -->
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Registrar  </button>
                        </div> <!-- form-group// -->
                        <div class="valid-feedback">Correcto.</div>
                        <div class="invalid-feedback">Porfavor ingrese los datos solicitados.</div>
                        {{ form.email.errors }}
                        {{ form.non_field_errors }}

                </form>
           
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
        <p class="text-center mt-4">Tienes una cuenta? <a href="{% url 'login'%}">Log In</a></p>
        <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    {% block scripts %}
<script>


    function checkRut(rut) {
        // Despejar Puntos
        var valor='';
        valor = rut.value.replace('.','');
        // Despejar Guión
        valor = valor.replace('-','');
    
        // Aislar Cuerpo y Dígito Verificador
        cuerpo = valor.slice(0,-1);
        dv = valor.slice(-1).toUpperCase();
        
        //si esta incorrecto, vuelve a estar en blanco
        if(rut.value == '-'){rut.value ='';rut.setCustomValidity('');return true;}
        // Formatear RUN
        rut.value = cuerpo + '-'+ dv
        
        // Si no cumple con el mínimo ej. (n.nnn.nnn)
        if(cuerpo.length < 7) { rut.setCustomValidity("RUT Incompleto"); return false;}
    
        // Calcular Dígito Verificador
        suma = 0;
        multiplo = 2;
    
        // Para cada dígito del Cuerpo
        for(i=1;i<=cuerpo.length;i++) {
    
            // Obtener su Producto con el Múltiplo Correspondiente
            index = multiplo * valor.charAt(cuerpo.length - i);
    
            // Sumar al Contador General
            suma = suma + index;
    
            // Consolidar Múltiplo dentro del rango [2,7]
            if(multiplo < 7) { multiplo = multiplo + 1; } else { multiplo = 2; }
    
        }
    
        // Calcular Dígito Verificador en base al Módulo 11
        dvEsperado = 11 - (suma % 11);
    
        // Casos Especiales (0 y K)
        dv = (dv == 'K')?10:dv;
        dv = (dv == 0)?11:dv;
    
        // Validar que el Cuerpo coincide con su Dígito Verificador
        if(dvEsperado != dv) { rut.setCustomValidity("RUT Inválido"); return false; }
    
        // Si todo sale bien, eliminar errores (decretar que es válido)
        rut.setCustomValidity('');
    }
</script>  
{% endblock %}  
{%endblock%}
