{% extends 'trabajadores/home.html' %}{%block content%}
<h2> Lista de todas las reservas disponibles </h2>

<div class="container row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Fecha de reserva</th>
                    <th>Comentario</th>
                    <th>Rut cliente</th>
                </tr>
            </thead>
            <tbody>
                {% for r in reserva %}
                <tr>
                   
                    <td>{{r.fecha}}</td>
                    <td>{{r.comentario}}</td>
                    <td>{{r.cliente_rut_cli}}</td>
                    <td>
                        <button type="button" class="btn btn-danger">
                            <a style="text-decoration:none; color:white" href="">
                            Eliminar
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning">
                            <a style="text-decoration:none; color:white" href="">
                            Editar
                        </button>
                    </td>
                       
                </tr>
                {%endfor%} 
            </tbody>
        </table>
        
<div>
{% endblock %}