{% extends 'administracion\adminHome.html' %} {% block content %}
<h1>Registro de servicios</h1>
<br>
<p>Hola usuario {{user.first_name}}</p>
<br><br><br>

<div class="container row">
    <div class="col-sm-6">
        <h4>Agregar Servicio</h4>
    {% include 'includes/alerts.html'%}
    <form name="formulario" action="{% url 'registro_servicio' %}" method="post">
        {% csrf_token %}

        <div class="form-row">
            <div class="col form-group">
                <label>Nombre de servicio</label> {{formulario.nombre}}
            </div>
            <br>
            <div class="col form-group">
                <label>Precio</label> {{formulario.precio}}
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Registrar  </button>
        </div>
        <!-- form-group// -->

    </form>
    </div>
    <div class="col-sm-6">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre Servicio</th>
                    <th>Precio Servicio</th>
                </tr>
            </thead>
            <tbody>
                {% for s in listServicios %}
                <tr>
                   
                    <td>{{s.nombre}}</td>
                    <td>{{s.precio}}</td>
                    <td>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#{{s.id_sevicio}}">
                            <a style="text-decoration:none; color:white" href="{% url 'eliminar_servicio' s.id_sevicio%}">
                            Eliminar
                        </button>
                    </td>
                       
                </tr>
                {%endfor%} 
            </tbody>
        </table>

    </div>

    
</div>
<!-- === ALERTAS === -->
<script>
    $('.alert').alert()
</script>
<a href="{% url 'Administracion' %}">Volver</a> {% endblock %}