{% extends 'clientes/workerHome.html' %}{%block content%}
<h2> Lista de todos los productos disponibles </h2>

<div class="container row">
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>SKU Producto</th>
                    <th>Nombre</th>
                    <th>Precio compra</th>
                    <th>Precio Venta</th>
                    <th>Stock Actual</th>
                    <th>Nivel Stock crítico</th>
                    <th>Categoria</th>
                    <th>fecha de Vencimiento</th>
                    <th>Unidad de medida</th>
                </tr>
            </thead>
            <tbody>
 

                {% for r in listaProductos %}
                <tr>
                    <td>{{r.sku}}</td>
                    <td>{{r.nombre_corto}}</td>
                    <td>{{r.precio_compra}}</td>
                    <td>{{r.precio_venta}}</td>
                    <td>{{r.stock}}</td>
                    <td>{{r.stock_critico}}</td>
                    <td>{{r.id_categoria}}</td>
                    <td>{{r.fecha_vencimiento }}</td>
                    <td>{{r.unidad_medida}}</td>

                </tr>
                {%endfor%} 
            </tbody>
        </table>
        
<div>
{% endblock %}